.contain {
  height: 100px;
}

.contain img {
  width: 20%;
  min-width: 0%;
}

#selected-contain {
  border: 1px solid;
  padding: .25rem;
}

.basket {
  flex-basis: 30%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  border-radius: 0.3rem;
  background-color: #cce5ff;
}

.active-basket {
  border: 1px dashed #007bff;
}

.hover-basket {
  background-color: #bbdefb;
} 